<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Initialisation</title>
</head>

<body>
    <form action="/init" method="POST">
        Title<br>
        <input type="text" name="title"><br>
        Participants<br>
        <input type="number" name="participants">
        <button type="submit">Start</button>
    </form>
</body>

</html>