<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Login</title>
</head>

<body>
    <form action="/login" method="POST">
        Username<br>
        <input type="text" name="username"><br>
        Keycode<br>
        <input type="password" name="keycode">
        <button type="submit">Login</button>
    </form>
</body>

</html>