<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div id="player"></div>
    <div id="information">
        <p id="video-title"></p>
        <p>
            <span id="video-user"></span>
            <span id="video-duration"></span>
        </p>
    </div>
    <button type="button" id="play">Start</button>
    <button type="button" id="skip">Skip</button>
    <script>
        let nextVideo, videoReady;
        let tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        let firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        let player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                events: {
                    'onStateChange': () => {
                        if (player.getPlayerState() === 0) {
                            playNextVideo();
                        }
                    },
                },
                playerVars: {
                    'controls': 0,
                },
            });
        }
        document.getElementById('play').addEventListener('click', () => {
            if (player.getVideoUrl() === 'https://www.youtube.com/watch') {
                fetchNextVideo();
                playNextVideo();
                videoReady = false;
            }
            if (player.getPlayerState() !== 1) {
                player.playVideo();
                document.getElementById('play').innerText = 'Stop';
            } else {
                player.pauseVideo();
                document.getElementById('play').innerText = 'Start';
            }
        });

        document.getElementById('skip').addEventListener('click', () => {
            if (!videoReady) {
                fetchNextVideo();
            }
            playNextVideo();
        });

        function playNextVideo() {
            player.loadVideoById(nextVideo.videoId);
            document.getElementById('video-title').innerText = nextVideo.title;
            document.getElementById('video-user').innerText = nextVideo.username;
            document.getElementById('video-duration').innerText = nextVideo.duration;
            videoReady = false;
        }

        function fetchNextVideo() {
            fetch('/party/next')
                .then(response => response.json())
                .then(data => nextVideo = data)
                .catch(err => console.error(err));
        }

        setInterval(() => {
            const duration = player.getDuration();
            const currentTime = player.getCurrentTime();
            if (duration !== 0 && duration - currentTime < 10 && !videoReady) {
                fetchNextVideo();
                videoReady = true;
            }
        }, 1000);
    </script>
</body>

</html>