<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div id="player"></div>
    <div id="information">
        <p id="video-title"></p>
        <p>
            <span id="video-user"></span>
            <span id="video-duration"></span>
        </p>
    </div>
    <button type="button" id="play">Play</button>
    <button type="button" id="skip">Skip</button>
    <script>
        let nextVideo, findInterval;
        let isNotPlaying = true, videoReady = true;
        let tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        let firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        let player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                events: {
                    'onStateChange': () => {
                        if (player.getPlayerState() === 0) {
                            playNextVideo();
                        }
                    },
                },
                playerVars: {
                    'controls': 0,
                },
            });
        }
        document.getElementById('play').addEventListener('click', () => {
            if (isNotPlaying && videoReady) {
                videoReady = false;
                isNotPlaying = false;
                fetchNextVideo();
                playNextVideo();
                findInterval = setInterval(findCallback, 1000);
            }
            if (player.getPlayerState() !== 1) {
                player.playVideo();
                document.getElementById('play').innerText = 'Stop';
            } else {
                player.pauseVideo();
                document.getElementById('play').innerText = 'Play';
            }
        });

        document.getElementById('skip').addEventListener('click', () => {
            if (!videoReady) {
                fetchNextVideo();
            }
            playNextVideo();
        });

        function playNextVideo() {
            if (Object.keys(nextVideo).length !== 0) {
                player.loadVideoById(nextVideo.videoId);
                document.getElementById('video-title').innerText = nextVideo.title;
                document.getElementById('video-user').innerText = nextVideo.username;
                document.getElementById('video-duration').innerText = nextVideo.duration;
            } else {
                isNotPlaying = true;
                player.destroy();
                onYouTubeIframeAPIReady();
                clearInterval(findInterval);
                const waitInterval = setInterval(() => {
                    fetch('/party/restart')
                        .then(response => response.json())
                        .then(data => {
                            if (data.started) {
                                fetchNextVideo();
                                playNextVideo();
                                isNotPlaying = false;
                                findInterval = setInterval(findCallback, 1000);
                                clearInterval(waitInterval);
                            }
                        });
                }, 1000);
            }
            videoReady = false;
        }

        function fetchNextVideo() {
            fetch('/party/next')
                .then(response => response.json())
                .then(data => nextVideo = data)
                .catch(err => console.error(err));
        }

        function findCallback() {
            const duration = player.getDuration();
            const currentTime = player.getCurrentTime();
            if (duration !== 0 && duration - currentTime < 10 && !videoReady) {
                fetchNextVideo();
                videoReady = true;
            }
        }
    </script>
</body>

</html>